footer {
    background-color: #222f3e;
    padding: 3px 0;
    text-align: center;
    width: 100%;
    height: 2rem;
    z-index: 1000;
    font-size: 0.85rem;
    position: fixed;
    bottom: 0;
    left: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0 !important;
}

.left-content ul li {
    display: inline-block;
    margin-right: 7px;

}

li a {
    color: #fff
}

.company {
    color: #fff
}

.right-content ul {
    display: flex;
    gap: 20px;
    margin-left: 7px;

}

.container ul li a:hover {
    text-decoration: underline;
}

.container ul li a {
    text-decoration: none;
}
