<div class="p-3 table-main-container">

    <div class="d-flex flex-column justify-content-center align-items-center no-data mt-4" *ngIf="data?.length == 0">
        <div><img src="/cloud.png" /></div>
        <div>No Data Found</div>
    </div>

    <div *ngIf="data?.length > 0" class=" table-container table-responsive ps-0 pe-0">
        <table class="table table-bordered  fixed-columns-table">
            <thead class="thead-header">
                <tr>
                    <th *ngFor="let groupColumn of tableGroupColumns" class="text-center groupCols" scope="col"
                        [colSpan]="groupColumn.size">{{groupColumn.title}}</th>
                </tr>
                <tr>
                    <th scope="col " *ngFor="let column of tableColumns" [ngClass]="[stickyColumn.includes(column) ? 'sticky-col-' + stickyColumn.indexOf(column) : '',
                        column == 'S. No.' ? 'serial' : '']">{{column}}
                        <i class="bi bi-question-circle p-1"
                            *ngIf="(tableUsedComponent == 'salesman-report' || tableUsedComponent == 'rm-report') && column != 'S. No.' && column != 'Salesperson' && column != 'Relationship Manager' && column != 'Current MRR' && column != 'Previous MRR'"
                            [matTooltip]="data[0][column]?.message"></i>
                        <i *ngIf="tableUsedComponent != 'rm-activity-data' && tableUsedComponent != 'salesman-activity-data' && tableUsedComponent != 'mrr-activity-data' && tableUsedComponent != 'mrr-report' && column != 'S. No.' && column != 'Salesperson' && column != 'Relationship Manager'"
                            class="bi bi-arrow-down-up" (click)="sortData(column)"></i>
                            <i class="bi bi-info-circle" *ngIf="getInfoMsg(column)" [matTooltip]="getInfoMsg(column)"></i>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let element of data; let i = index">
                    <td *ngFor="let column of tableColumns" [ngClass]="[stickyColumn.includes(column) ? 'sticky-col-' + stickyColumn.indexOf(column) : '',
                        column == 'S. No.' ? 'serial' : '']">
                        <div class="d-flex flex-row" [ngClass]="[
                                (tableUsedComponent == 'mrr-report' || tableUsedComponent == 'salesman-report' || tableUsedComponent == 'rm-report') ? 'pointer' : '',
                                element[column]?.value == '-' ? 'justify-content-center' : 'justify-content-between'
                            ]"
                            (click)="tableUsedComponent == 'mrr-report' ? showMrrActivity(element[column]?.value ,element[' ']?.billingType, column) : tableUsedComponent == 'salesman-report' ? showMrrActivity(element[column]?.value , element[column].billingType, element['Salesperson']?.id || element['Relationship Manager']?.id)  : showMrrActivity(element[column]?.value, element[column].billingType, element['Salesperson']?.id || element['Relationship Manager']?.id)">
                            <span [ngClass]="element[column]?.class_name">
                                <span *ngIf="element[column]?.link && !element[column]?.id">
                                    <a class="sub-link" [routerLink]="element[column]?.link"
                                        [queryParams]="{ subId: element[column]?.value, domainName: domainName }">
                                        {{element[column]?.value}}</a>
                                </span>
                                <span *ngIf="element[column]?.id && !element[column]?.link">
                                    <a class="sub-link" [routerLink]="['/reports/mrr-report']"
                                        [queryParams]="getQueryParams(element[column])">
                                        {{ element[column]?.value }}
                                    </a>
                                </span>
                                <span *ngIf="!element[column]?.link && !element[column]?.id"
                                    [matTooltip]="column === 'Description' ? element[column]?.value : ''">{{ column ===
                                    'Description' || column == 'Salesperson' || column == 'Relationship Manager'
                                    ? (element[column]?.value | slice:0:20) + (element[column]?.value?.length > 20 ?
                                    '...' : '')
                                    : element[column]?.value }}</span>
                            </span>
                            <span *ngIf="element[column]?.moreValues && element[column]?.value != '-'">
                                <span class="me-1" *ngFor="let moreValue of element[column]?.moreValues"
                                    [ngClass]="moreValue?.class_name">{{moreValue?.value}}</span>
                            </span>
                            <span *ngIf="element[column]?.icon" [matTooltip]="element[column]?.message">
                                <i class="bi ms-2" [ngClass]="element[column]?.icon"></i>
                            </span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>