<mat-form-field class="dropdown">
    <mat-label>{{ data.title }}</mat-label>

    <!-- Single Select -->
    <ng-container *ngIf="!data.isMultiSelect; else multiSelectField">
        <mat-select class="single-select" [(value)]="singleSelectedData"
            (selectionChange)="onSelectionChange($event)">
            <mat-option *ngFor="let item of data.dropdownData" [value]="item._id"
                [disabled]="item.name == 'All'" [ngStyle]="data.title === 'Label Name' ? { 'background-color': item?.color, 'color': getContrastColor(item?.color) } : {}"
                [matTooltip]="data.title === 'Label Name' ? item.name : ''">
                {{ (item.name || item.Name) | slice:0:30 }}{{ (item.name || item.Name)?.length > 30 ? '...' : '' }}
            </mat-option>
        </mat-select>
    </ng-container>

    <!-- Multi Select -->
    <ng-template #multiSelectField>
        <mat-select class="multi-select" [formControl]="multipleSelectData"
            multiple (selectionChange)="onSelectionChange($event)" #multiSelect>

            <mat-select-trigger>
                <ng-container *ngIf="multipleSelectData.value?.length">
                    {{ getSelectedNames().join(', ') }}
                </ng-container>
            </mat-select-trigger>

            <div *ngIf="data?.isSearch && data.dropdownData.length > 1" class="input-group mb-3 d-flex justify-content-center">
                <input type="text" class="form-control" placeholder="Search Here..." aria-label="Username"
                    aria-describedby="basic-addon1" [formControl]="searchText" />
            </div>

            <div class="dropdown-area" *ngIf="data.dropdownData.length > 1">
                <mat-option *ngFor="let item of data.dropdownData" [value]="item._id">
                    {{ item.name || item.Name }}
                </mat-option>
            </div>

            <div *ngIf="isOkButton" class="d-flex flex-row justify-content-end pe-3 pt-2 gap-2 dropdown-btns">
                <button class="btn ok-btn" (click)="emitDropdownData(); multiSelect.close()">Ok</button>
                <button class="btn cancel-btn" (click)="multiSelect.close()">Cancel</button>
            </div>
        </mat-select>
    </ng-template>
</mat-form-field>