<footer>
    <div class="container">
        <div class="left-content">
            <ul>
                <li class="company">Copyright &copy;
                    {{currentYear}} <span *ngIf="partnerDetail?.portalFunctionality?.showFooter">Comhard Technologies
                        Pvt Ltd</span></li>
            </ul>
        </div>
        <div class="right-content" *ngIf="partnerDetail?.portalFunctionality?.showFooter">
            <ul>

                <li><a routerLink='/terms-conditions' target="_blank">Terms & Conditions</a></li>
                <li><a routerLink='/privacy-policy' target="_blank">Privacy Policy</a></li>
                <li><a routerLink='/about-us' target="_blank">About Us</a></li>
                <li><a routerLink='/sla' target="_blank">SLA</a></li>
            </ul>
        </div>
    </div>
</footer>