.input-group {
    width: 100%;
    height: 50px;
}

.input-group input {
    height: 42px;
    margin-bottom: 10px;
}

.error-message {
    color: red;
    font-size: 0.775em;
    font-weight: 500;
}

.password-icon {
    cursor: pointer;
    height: 42px;
}

a{
    color: var(--color-primary);
}
