<div>
    <div class="p-3 table-main-container">
        <div class="d-flex flex-row justify-content-between align-items-center mx-2">
            <div>
                <div *ngIf="currentLength > 0 && (isCollapse ? columnsToDisplay.length > 0 : billingColumnsToDisplay.length > 0)" class="total-data-info">
                    Showing {{(currentPageIndex * currentPageSize) + 1}} to {{(currentPageIndex * currentPageSize) +
                    (isCollapse ? data.length : billingData.length)}}
                    of
                    {{currentLength}} records
                </div>
            </div>
            <div class="d-flex flex-row">
                <div class="mx-2">
                    <div class="dropdown" *ngIf="data.length>0">
                        <button class="header-btn btn-primary btn dropdown-toggle" type="button" data-bs-toggle="dropdown">
                            Select Headers
                        </button>
                        <ul class="dropdown-menu dropdown-header-menu p-1 my-10" (click)="$event.stopPropagation()">
                            <li *ngFor="let option of isCollapse ? tableColumns : billingTableColumns">
                                <label class="d-flex align-items-center p-1" (click)="$event.stopPropagation()">
                                    <input type="checkbox" [value]="option" [checked]="visibleColumns[option]"
                                        (change)="handleChange()" [(ngModel)]="visibleColumns[option]"
                                        (click)="$event.stopPropagation()" />
                                    <span class="ms-2">{{ option }}</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-container mt-4">
            <div class="d-flex justify-content-center align-items-center no-data" *ngIf="data.length == 0">
                No Data Found
            </div>
            <div class="d-flex justify-content-center align-items-center no-data"
                *ngIf="columnsToDisplay.length == 0 && errorMsg">
                <div>No columns selected. Please choose at least one header to display data.</div>
            </div>
            <table *ngIf="data && data.length > 0 && columnsToDisplay.length > 0" class="table table-bordered">
                <thead class="table-header">
                    <tr class="text-left">
                        <th> </th>
                        <th *ngFor="let column of columnsToDisplay">
                            {{ column }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let element of data; let i = index">
                        <tr (click)="toggleCursor(element)">
                            <td class="cursor-pointer" [class.odd-row]="i % 2 === 0" [class.even-row]="i % 2 === 1">
                                <i [ngClass]="element.isCollapse ? 'bi bi-arrow-right-circle' : 'bi bi-arrow-down-circle text-danger'"
                                    class="bold">
                                </i>
                            </td>

                            <td *ngFor="let column of columnsToDisplay" class="text-left" [class.odd-row]="i % 2 === 0"
                                [class.even-row]="i % 2 === 1">
                                <div [ngClass]="column">
                                    <div class="label text-left p-1">
                                        <ng-container
                                            *ngIf="column === 'Credit' || column === 'Debit' || column === 'Balance' || column === 'Starting Balance'; else plainText">
                                            {{ element[column] | currency:'INR':'symbol':'1.2-2' }}
                                        </ng-container>
                                        <ng-template #plainText>
                                            {{ element[column] }}
                                        </ng-template>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr *ngIf="!element.isCollapse">
                            <td [attr.colspan]="tableColumns.length + 1">
                                <div class="card shadow-sm p-3 my-2">
                                    <table class="table table-borderless ">
                                        <thead class="table-header1">
                                            <tr class="text-left">
                                                <th *ngFor="let column of billingColumnsToDisplay">
                                                    {{ column }}
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let element of billingData; let i = index">
                                                <td *ngFor="let column of billingColumnsToDisplay" class="text-left"
                                                    [class.odd-row]="i % 2 === 0" [class.even-row]="i % 2 === 1">
                                                    <div [ngClass]="column">
                                                        <div class="label text-left p-1" [matTooltip]="element[column]">
                                                            <ng-container
                                                                *ngIf="column === 'Credit' || column === 'Debit' || column === 'Balance'; else billingPlainText">
                                                                {{ !element[column] ? 'N/A' : (element[column] |
                                                                currency:'INR':'symbol':'1.2-2') }}
                                                            </ng-container>
                                                            <ng-template #billingPlainText>
                                                                {{!element[column] ? 'N/A' : (element[column]) }}
                                                            </ng-template>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>

            </table>

        </div>

        <mat-paginator *ngIf="currentLength > 0 && (isCollapse ? columnsToDisplay.length > 0 : billingColumnsToDisplay.length > 0)" [length]="currentLength"
            [pageSize]="currentPageSize" [pageIndex]="currentPageIndex" [pageSizeOptions]="pageSizeOptions"
            aria-label="Select page of users" class="paginator" (page)="handlePageEvent($event)">
        </mat-paginator>
    </div>
</div>