<div class="billing-details">
    <div class="billing-header d-flex flex-row justify-content-between align-items-center">
        <h5 class="billing-title">Billing Details</h5>
        <a class="edit-link" (click)="editForm()" *ngIf="role">{{data ? 'Edit' : 'Add'}}</a>
    </div>
    <div class="billing-content">
        <ng-container *ngFor="let item of data; let i = index; let last = last">
            <div *ngIf="billingFields.length === 0 || billingFields.includes(item.title)"
                 class="billing-field"
                 [ngClass]="{'highlighted-row': i % 2 === 1}">
                <span class="field-label">{{item.title}}:</span>
                <span class="field-value">{{item.value || '-'}}</span>
            </div>
            <div *ngIf="!last && (billingFields.length === 0 || billingFields.includes(item.title))" 
                 class="field-separator"></div>
        </ng-container>
    </div>
</div>