.emoji-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.emoji-rating label {
  cursor: pointer;
  color: #4B49AC
}

.emoji-rating input {
  display: none;
}

.emoji {
  font-size: 2.188rem
}

.emoji-rating label.selected span {
  font-weight: bold;
  transition: color 0.3s ease;
  color: #4B49AC
}

.emoji-rating label.selected .emoji {
  transition: color 0.3s ease;
  transform: scale(1.17);
}

.emoji-rating label:hover .emoji {
  transform: scale(1.17);
}

.rating-bg {
  background-color: #e8e8f5;
  border-radius: 5px;
}

.rating-heading {
  font-size: 1.3rem;
  color: #fff;
  font-weight: 500;
}

.header-bg {
  background-color: #4B49AC;
  border-bottom: 1.2px solid #fff;
}

.rating-txt {
  font-size: 1rem;
  color: #000;
}

i {
  font-size: 2.5rem;
  padding: 5px;
  color: #d2cedf
}

.filled {
  color: #f4c784;

}

.msg-box {
  border: 1.5px solid #e8e8f5;
  padding: 5px;
  border-radius: 7px;
  font-size: 1rem;
  resize: none;
}

textarea::placeholder {
  font-size: 16px;
}

textarea:focus {
  border: 1.5px solid #e8e8f5;
  outline: none;
  box-shadow: none;
}

.is-invalid {
  border: 1.5px solid red
}

.rate-btn {
  height: 3rem;
  background-color: #4B49AC;
  color: white;
  width: 40%;
  border: none;
  border-radius: 0.5rem;
}

.error-message {
  font-weight: 500;
}