<div class="common-modal pb-0" appPreventEsc>
    <div class="modal-header d-block  py-2 header-bg ">
        <h4 class="modal-title text-center rating-heading mb-0">Your opinion matters to us!</h4>

    </div>
    <div class="modal-body pb-4 pt-4 rating-bg d-block border-top">
        <div class="text-center">
            <p class="mb-0 rating-txt ">How was your support experience for ticket number
                (<b>{{ticketId}}</b>) ?
            </p>
            <div class="d-flex justify-content-center align-item-center flex-column ">
                <form [formGroup]="ratingForm" class="mt-2" (ngSubmit)="submit()">
                    <div class="emoji-rating mt-4 text-center">
                        <label *ngFor="let rating of ratings; let i = index"
                            [class.selected]="selectedRating?.value == rating.value">
                            <input type="radio" name="rating" [value]="rating.value" (change)="onRatingChange()"
                                formControlName="rating" />
                            <span class="text-center d-inline-block  emoji">{{rating.emoji}}</span><br />
                            <span class="d-inline-block mt-2">{{ rating.label }}</span>
                        </label>
                    </div>
                    <div>

                        <textarea placeholder="Please share your feedback..." class="msg-box mt-2" rows="3" cols="45"
                            formControlName="feedback"
                            [class.is-invalid]="ratingForm.get('feedback')?.invalid && ratingForm.get('feedback')?.touched"></textarea><br />
                        <div *ngIf="ratingForm.get('feedback')?.invalid && ratingForm.get('feedback')?.touched"
                            class="text-danger mt-1">
                            <small *ngIf="ratingForm.get('feedback')?.errors?.['required']" class="error-message">
                                Feedback is required
                            </small>
                        </div>
                    </div>
                    <button class="btn-primary rate-btn mt-3" type="submit">Rate now</button>
                </form>
            </div>
        </div>
    </div>
</div>